.title {
  margin-block: 3rem;
}

.filters {
  display: flex;
  justify-content: end;
  align-items: center;
}

.custom-select {
  margin-left: 1rem;
  margin-right: 1rem;
}

.image-calendar {
  width: 300px;
  height: 200px;
  object-fit: cover;
}

.container-main {
  display: flex;
  flex-direction: column;
  max-width: 80%;
  margin: 0 auto;
}

.section {
  margin-block: 2rem;
}

.title-section {
  font-size: 25px;
  font-weight: 600;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}

.card-container {
  display: flex;
  width: max-content;
  margin: 2rem;
}

.description {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
  justify-content: space-between;
}

.important-description {
  font-weight: 600;
  font-size: 14px;
}

.title-course {
  font-weight: 500;
  font-size: 22px;
}

.item-description {
  font-weight: 400;
  font-size: 12px;
}

.item-description a {
  text-decoration: none;
}

.item-description a:visited {
  text-decoration: none;
  color: black;
}

@media only screen and (max-width: 850px) {
  .section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .container-main {
    max-width: 95%;
  }

  .container {
    justify-content: center;
  }

  .image-calendar {
    width: 100%;
    height: 100px;
    border-radius: 6px 6px 0px 0px;
  }

  .card-container {
    width: 100%;
    flex-direction: column;
    border: 2px solid #80a37d;
    padding: 0.5rem;
    border-radius: 6px;
  }

  .description {
    margin-left: 0px;
    padding-top: 0.5rem;
  }

  .btn {
    margin-top: 0.5rem;
    align-self: center;
  }
}
