* {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.logo {
  height: 50%;
}

.top-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 2rem 0 2rem;
  height: 6rem;
  align-items: center;
  background-color: rgb(73, 73, 73);
}

.circle-button {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  cursor: pointer;
}

.circle-button:hover {
  box-shadow: 0px 0px 10px 1px deepskyblue;
}

.nav {
  width: 100vw;
  background-color: grey;
}

.nav-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: inherit;
}

.nav-list-item {
  user-select: none;
  list-style-type: none;
  width: 180px;
}

.nav-list-item:hover {
  background-color: rgb(73, 73, 73);
}

.nav-list-item a {
  color: white;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  text-align: center;
}
.inscripcion-info {
  text-align: center;
}
.pares {
  display: flex;
  margin: 2rem;
  text-align: left;
}
.celdas {
  padding: 0 1rem 0 0;
}
.submit {
  margin-top: 2rem;
  text-align: right;
}
.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2rem 2rem 2rem 2rem;
  height: 6rem;
  align-items: center;
  background-color: rgb(73, 73, 73);
  color: #fff;
}
.parrafo {
  width: 30rem;
  height: 20rem;
  display: flow-root;
  flex-direction: row;
  justify-content: space-between;
  padding: 0rem 2rem 0rem 6rem;
}
.texto {
  display: flex;
  font-size: 12px;
}
footer a {
  color: #fff;
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline;
}

.btn {
  min-width: min-content;
  padding: 5px;
  background-color: #80a37d;
  border-radius: 6px;
  color: #fff;
  text-decoration: none;
  text-align: center;
}

/******************************************************Main********************************************************/

.title {
  font-size: 2rem;
  text-align: center;
  margin: 2rem;
}
