.texto {
  width: 100%;
  display: flex;
  font-size: 12px;
  flex-direction: column;
  gap: 5rem;
  margin-top: 2rem;
}

.parrafo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

section {
  margin: 0 auto;
  width: 85%;
}

.profesores {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 4rem;
}

.profesores img {
  border-radius: 50%;
  width: 17rem;
}

.profesores p {
  text-align: center;
  width: 100%;
  margin-top: 1rem;
}

.contenedor {
  align-items: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

@media (min-width: 1000px) {
  .texto {
    display: flex;
    flex-direction: initial;
    width: auto;
  }

  .profesores {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    margin: 4rem;
  }

  .profesores img {
    border-radius: 50%;
    width: 17rem;
  }

  .profesores p {
    text-align: center;
    width: 50%;
    margin-top: 1rem;
    font-size: 14px;
  }

  .contenedor {
    align-items: center;
    width: 50%;
    display: flex;
    flex-direction: column;
  }
}
