.texto {
    display: flex;
    font-size: 12px;
  }
.parrafo {
    width: 50%;
    display: flow-root;
    flex-direction: row;
    justify-content: space-between;
    padding: 0rem 2rem 0rem 6rem;
  }
section{
    display: flexbox;
    margin: 1rem 0;
}
.profesores{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 4rem;

}
.profesores img{
    border-radius: 50%;
    width: 17rem;
}

.profesores p{
    text-align: center;
    width: 50%;
    margin-top: 1rem;
}
.contenedor{
    align-items: center;
    width: 50%;
    display: flex;
    flex-direction: column;
}